make/12-dj-meeting-prep.json
{
  "name": "DJ Meeting Prep - Auto-Populate Questions",
  "description": "When a lead's status changes to Meeting Scheduled, this scenario populates the Current Tasks with DJ's meeting questions and prep checklist.",
  "trigger": "Monday.com status change to Meeting Scheduled",
  "flow": [
    {
      "id": 1,
      "module": "monday:watchColumnsChange",
      "version": 1,
      "parameters": {
        "connection": null,
        "boardId": "18390370563",
        "columnId": "status"
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        }
      },
      "note": "Watch for status changes"
    },
    {
      "id": 2,
      "module": "builtin:BasicRouter",
      "version": 1,
      "mapper": null,
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      },
      "routes": [
        {
          "label": "Status = Meeting Scheduled",
          "flow": [
            {
              "id": 3,
              "module": "monday:getItem",
              "version": 1,
              "parameters": {
                "connection": null
              },
              "mapper": {
                "itemId": "{{1.itemId}}"
              },
              "metadata": {
                "designer": {
                  "x": 600,
                  "y": 0
                }
              },
              "note": "Get full item details for personalization"
            },
            {
              "id": 4,
              "module": "monday:changeColumnValue",
              "version": 1,
              "parameters": {
                "connection": null
              },
              "mapper": {
                "boardId": "18390370563",
                "itemId": "{{1.itemId}}",
                "columnId": "current_tasks",
                "value": "{\"text\":\"🎯 DJ MEETING PREP CHECKLIST\\n\\n📋 BEFORE THE MEETING:\\n☐ Review their Courted profile\\n☐ Check Notes for conversation history\\n☐ Review what tool they received\\n☐ Note their superlative/achievement\\n\\n❓ QUESTIONS TO ASK:\\n\\n**Opening:**\\n• \\\"Thanks for taking the time! What made you interested in chatting?\\\"\\n• \\\"How's business been going lately?\\\"\\n\\n**Current Situation:**\\n• \\\"Where are you hanging your license right now?\\\"\\n• \\\"How long have you been there?\\\"\\n• \\\"What do you like about your current setup?\\\"\\n\\n**Pain Points (The Gold):**\\n• \\\"What's the biggest challenge you're facing right now?\\\"\\n• \\\"If you could change one thing about your brokerage, what would it be?\\\"\\n• \\\"What support do you wish you had?\\\"\\n\\n**Goals:**\\n• \\\"Where do you want to be in 2-3 years?\\\"\\n• \\\"What would help you get to the next level?\\\"\\n• \\\"What's your target for deals this year?\\\"\\n\\n**The Ask (If Warm):**\\n• \\\"Have you ever thought about making a change?\\\"\\n• \\\"What would your ideal brokerage look like?\\\"\\n• \\\"Would you be open to learning more about Kale?\\\"\\n\\n**Timeline:**\\n• \\\"If you were to make a move, when would that be?\\\"\\n• \\\"What would need to happen for you to consider a change?\\\"\\n\\n**Close:**\\n• \\\"What questions do you have for me?\\\"\\n• \\\"What would be most helpful as a next step?\\\"\\n\\n📝 AFTER THE MEETING:\\n☐ Review MeetGeek AI notes\\n☐ Fill in Meeting Outcome\\n☐ Fill in Current Brokerage\\n☐ Fill in Why Considering Change\\n☐ Fill in Business Goals\\n☐ Fill in Timeline\\n☐ Fill in Objections\\n☐ Update Status based on outcome\\n☐ Set Next Action if follow-up needed\"}"
              },
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": 0
                }
              },
              "note": "Populate Current Tasks with DJ meeting questions"
            },
            {
              "id": 5,
              "module": "monday:changeColumnValue",
              "version": 1,
              "parameters": {
                "connection": null
              },
              "mapper": {
                "boardId": "18390370563",
                "itemId": "{{1.itemId}}",
                "columnId": "next_action",
                "value": "Prep for meeting: review Courted profile + conversation history. After: fill in meeting fields."
              },
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": 0
                }
              },
              "note": "Set Next Action reminder"
            },
            {
              "id": 6,
              "module": "slack:postMessage",
              "version": 1,
              "parameters": {
                "connection": null
              },
              "mapper": {
                "channel": "dj-alerts",
                "text": "📅 *Meeting Scheduled: {{3.name}}*\n\n*Meeting Date:* Check Calendly/Calendar\n*Their Achievement:* {{3.column_values.superlative_type.text}}\n*Deal Count:* {{3.column_values.deal_count.text}}/year\n\n*Prep checklist and questions are in the Current Tasks column.*\n\n<https://kalerealty.monday.com/boards/18390370563/pulses/{{1.itemId}}|Open in Monday>"
              },
              "metadata": {
                "designer": {
                  "x": 1500,
                  "y": 0
                }
              },
              "note": "Notify DJ via Slack"
            }
          ],
          "filter": {
            "name": "Status is Meeting Scheduled",
            "conditions": [
              [
                {
                  "a": "{{1.value.label.text}}",
                  "b": "Meeting Scheduled",
                  "o": "text:equal"
                }
              ]
            ]
          }
        }
      ]
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1
  },
  "setup_instructions": {
    "step_1": "Import this blueprint into Make.com",
    "step_2": "Replace 18390370563 with your Monday board ID",
    "step_3": "Configure Monday.com connection",
    "step_4": "Configure Slack connection and channel",
    "step_5": "Update column IDs if different from defaults",
    "step_6": "Test: Change a lead's status to Meeting Scheduled",
    "step_7": "Verify Current Tasks populated and Slack notification sent",
    "step_8": "Activate scenario"
  },
  "post_meeting_workflow": {
    "description": "After the meeting, DJ should fill in these fields:",
    "fields": [
      {
        "column": "Meeting Outcome",
        "options": ["Hot - Ready to Sign", "Warm - Needs Follow-up", "Cool - Not Now", "Cold - Not a Fit", "No Show"],
        "determines_next_status": true
      },
      {
        "column": "Current Brokerage",
        "type": "text",
        "example": "Coldwell Banker"
      },
      {
        "column": "Why Considering Change",
        "type": "long_text",
        "example": "Feels unsupported, wants more leads, tired of desk fees"
      },
      {
        "column": "Business Goals",
        "type": "long_text",
        "example": "Wants to hit 20 deals/year, build a team eventually"
      },
      {
        "column": "Timeline",
        "options": ["Immediately", "1-3 Months", "3-6 Months", "6-12 Months", "Not Sure"]
      },
      {
        "column": "Objections",
        "type": "long_text",
        "example": "Worried about losing current clients, unsure about commission split"
      }
    ]
  },
  "status_after_meeting": {
    "Hot - Ready to Sign": "Offer Extended",
    "Warm - Needs Follow-up": "DJ Meeting Complete (then set Next Action for follow-up)",
    "Cool - Not Now": "Hibernation 90-Day",
    "Cold - Not a Fit": "Lost - Not a Fit",
    "No Show": "No Show (triggers no-show handling automation)"
  }
}
